<div class="product-grid" id="productList">
    {{#each products}}
        <div class="product-card">
            <h3 class="title">{{this.title}}</h3>
            <p>{{this.description}}</p>
            <p><strong>Género:</strong> {{this.genre}}</p>
            <p><strong>Precio:</strong> ${{this.price}}</p>
            <p><strong>Stock:</strong> {{this.stock}}</p>
            <button onclick="deleteProduct('{{this._id}}')">Eliminar</button>
        </div>
    {{/each}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket=io()

    socket.on('updateProducts',(products)=>{
        const productList=document.getElementById('productList')
        productList.innerHTML=''
        products.forEach(product=>{
            const productCard=document.createElement('div')
            productCard.className='product-card'
            productCard.innerHTML=`
                <h3>${product.title}</h3>
                <p>${product.description}</p>
                <p><strong>Género:</strong> ${product.genre}</p>
                <p><strong>Precio:</strong> $${product.price}</p>
                <p><strong>Stock:</strong> ${product.stock}</p>
                <button onclick="deleteProduct('${product._id}')">Eliminar</button>
            `
            productList.appendChild(productCard)
        })
    })

    // Enviar nuevo libro al servidor
    document.getElementById('productForm').addEventListener('submit',(event)=>{
        event.preventDefault()
        const title=document.getElementById('title').value
        const description=document.getElementById('description').value
        const price=document.getElementById('price').value
        const genre=document.getElementById('genre').value
        const stock=document.getElementById('stock').value
        socket.emit('addProduct',{title,description,price,genre,stock})
        document.getElementById('productForm').reset()
    })

    // Eliminar libro
    function deleteProduct(id){
        socket.emit('deleteProduct',id)
    }
</script>